# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Azure Functions artifacts
local.settings.json

# Terraform working directory and state
.terraform/
*.tfstate
*.tfstate.backup
*.exe

# Terraform variable files (sensitive)
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config
.terraformrc
terraform.rc

#Terraform plan outputs
*.tfplan
*.plan
tfplan*

# TSC generated artifacts for local testing
dist/
